
<div *ngIf="extensionKey">
    <h2><span>Extension Key</span> {{extensionKey.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{extensionKey.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{extensionKey.description}}</span>
        </dd>
        <dt><span>Section</span></dt>
        <dd>
            <span>{{extensionKey.section}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{extensionKey.type}}</span>
        </dd>
        <dt><span>Show Order</span></dt>
        <dd>
            <span>{{extensionKey.showOrder}}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
            <span>{{extensionKey.active}}</span>
        </dd>
        <dt><span>Requirement Set</span></dt>
        <dd>
            <div *ngIf="extensionKey.requirementSet">
                <a [routerLink]="['/requirement-set', extensionKey.requirementSet?.id]">{{extensionKey.requirementSet?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'extension-key/'+ extensionKey.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
