<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExtensionKeyLabel">Create or edit a Extension Key</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!extensionKey.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="extensionKey.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="extensionKey.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="extensionKey.description" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_section">Section</label>
            <select class="form-control" name="section" [(ngModel)]="extensionKey.section" id="field_section"  required>
                <option value="STATUS">STATUS</option>
                <option value="ENHANCEMENT">ENHANCEMENT</option>
            </select>
            <div [hidden]="!(editForm.controls.section?.dirty && editForm.controls.section?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.section?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="extensionKey.type" id="field_type" >
                <option value="ENUM">ENUM</option>
                <option value="FREETEXT">FREETEXT</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_showOrder">Show Order</label>
            <input type="number" class="form-control" name="showOrder" id="field_showOrder"
                [(ngModel)]="extensionKey.showOrder" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="extensionKey.active" />
            <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.active?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_requirementSet">Requirement Set</label>
            <select class="form-control" id="field_requirementSet" name="requirementSet" [(ngModel)]="extensionKey.requirementSet" >
                <option [ngValue]="null"></option>
                <option [ngValue]="requirementSetOption.id === extensionKey.requirementSet?.id ? extensionKey.requirementSet : requirementSetOption" *ngFor="let requirementSetOption of requirementsets; trackBy: trackRequirementSetById">{{requirementSetOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
