
<div *ngIf="skAtEx">
    <h2><span>Sk At Ex</span> {{skAtEx.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Skeleton</span></dt>
        <dd>
            <div *ngIf="skAtEx.skeleton">
                <a [routerLink]="['/skeleton', skAtEx.skeleton?.id]">{{skAtEx.skeleton?.name}}</a>
            </div>
        </dd>
        <dt><span>Attribute</span></dt>
        <dd>
            <div *ngIf="skAtEx.attribute">
                <a [routerLink]="['/attribute', skAtEx.attribute?.id]">{{skAtEx.attribute?.name}}</a>
            </div>
        </dd>
        <dt><span>Extension</span></dt>
        <dd>
            <div *ngIf="skAtEx.extension">
                <a [routerLink]="['/extension', skAtEx.extension?.id]">{{skAtEx.extension?.content}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sk-at-ex/'+ skAtEx.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
