section {
  margin-bottom: 0.5em;
}

.filter ::ng-deep .card-header {
  padding: 0.2rem 0.2rem;
  /* border-color: #6c757d !important */
}

.filter ::ng-deep .card {
  margin-bottom: 0.25em;
  border-color: #343a40 !important;
}

.filter ::ng-deep .card-body {
  padding: 0.2rem;
}

.table-borderless > tbody > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

@media (min-width: 34em) {
  .filter ::ng-deep .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 75em) {
  .filter ::ng-deep .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
section {
  margin-bottom: 0.5em;
}
