<div>
    <ng-template #minimize>
        <fa-icon [icon]="faWindowMinimize" ngbTooltip="Minimize" container="body"></fa-icon>
    </ng-template>
    <ng-template #maximize>
        <fa-icon [icon]="faWindowMaximize" ngbTooltip="Expand" container="body"></fa-icon>
    </ng-template>
    <ng-template #tagFilterStrategy>

    </ng-template>
    <section>
        <h4>Filters</h4>
        <ngb-accordion #acc="ngbAccordion" class="filter" (panelChange)="beforePanelChange($event)"
            [closeOthers]="true">
            <ngb-panel [id]="panelTags.id">
                <ng-template ngbPanelHeader>
                    {{panelTags.title}}
                    <fa-icon class="mr-5" [icon]="faTags"></fa-icon>
                    <button ngbPanelToggle class="float-right btn btn-sm">
                        <ng-container *ngIf="panelTags.active; then minimize; else maximize"></ng-container>
                    </button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let tagKey of tagKeys">
                                    <td>
                                        <strong>{{tagKey.name}}:</strong>
                                        <fa-icon [icon]="faQuestionCircle"></fa-icon>
                                    </td>
                                    <ng-container *ngFor="let tag of tags">
                                        <td *ngIf="tag.keyId === tagKey.id">
                                            <jhi-attribute-tag [attribute]="tag" [count]="-1" [checkboxType]="true"
                                                [showChildrenOnSelect]="false"
                                                (attributeSelectionChanged)="updateSelectedTags($event)">
                                            </jhi-attribute-tag>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel [id]="panelCategory.id">
                <ng-template ngbPanelHeader>
                    {{panelCategory.title}}
                    <fa-icon class="mr-5" [icon]="faBars"></fa-icon>
                    <button ngbPanelToggle class="float-right btn btn-sm">
                        <ng-container *ngIf="panelCategory.active; then minimize; else maximize"></ng-container>
                    </button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="card-columns">
                        <jhi-attribute-tag *ngFor="let cat of categories" [attribute]="cat" [count]="-1"
                            [checkboxType]="true" [showChildrenOnSelect]="false"
                            (attributeSelectionChanged)="updateSelectCategoriesAndFilter($event)">
                        </jhi-attribute-tag>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </section>
</div>