.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #005c99;
}

.card-enhancements ::ng-deep .card-header {
    padding: 0.5rem 0.5rem;
}

.card-enhancements ::ng-deep .card {
    margin-bottom: 0.25em
}

.btn-outline-secrat:focus {
    box-shadow: none
}

section {
    margin-bottom: 0.5em;
}
