<div [ngSwitch]="checkboxType">
    <div class="btn-group-toggle" *ngSwitchCase="true">
        <label [ngbTooltip]="attribute.description" placement="top" class="btn-outline-secondary btn-sm" [ngStyle]="{'margin-left.%': 5 * count}"
            style="margin: .1em .1em .1em 0;" ngbButtonLabel>
            <input type="checkbox" [(ngModel)]="attribute.selected" [name]="attribute.name" (change)="_selectAttribute()" ngbButton>{{attribute.name}}
        </label>
        <ng-container *ngIf="(!showChildrenOnSelect) || (attribute.selected && showChildrenOnSelect)">
            <jhi-attribute-tag *ngFor="let child of attribute.children" [showChildrenOnSelect]="showChildrenOnSelect" [attribute]="child"
                [checkboxType]="checkboxType" [count]="count" (attributeSelectionChanged)="_selectAttribute($event)">
            </jhi-attribute-tag>
        </ng-container>
    </div>
    <div *ngSwitchCase="false">
        <label class="badge badge-secrat" [ngStyle]="{'margin-left.%': 1 * count}" style="margin: .1em .1em .1em 0;">{{attribute.name}}</label>
        <jhi-attribute-tag *ngFor="let child of attribute.children" [attribute]="child" [checkboxType]="checkboxType" [count]="count">
        </jhi-attribute-tag>
    </div>
</div>
