<div>
    <h2>
        <span>Extensions</span>
        <button class="btn btn-primary float-right jh-create-entity create-extension" [routerLink]="['/', { outlets: { popup: ['extension-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Extension
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="extensions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span>Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="showOrder"><span>Show Order</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="active"><span>Active</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="extensionKey.name"><span>Extension Key</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let extension of extensions ;trackBy: trackId">
                <td><a [routerLink]="['../extension', extension.id ]">{{extension.id}}</a></td>
                <td>{{extension.content}}</td>
                <td>{{extension.description}}</td>
                <td>{{extension.showOrder}}</td>
                <td>{{extension.active}}</td>
                <td>
                    <div *ngIf="extension.extensionKey">
                        <a [routerLink]="['../extension-key', extension.extensionKey?.id ]" >{{extension.extensionKey?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../extension', extension.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'extension/'+ extension.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'extension/'+ extension.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
