<p>
    <button type="button" class="btn btn-info" (click)='customize()'>
        <fa-icon [icon]="faChevronLeft"></fa-icon> Back to requirements
    </button>
    <button type="button" class="btn btn-secrat float-right" (click)="open(content,false)">
        <fa-icon [icon]="'plus'"></fa-icon> Add custom requirement
    </button>
</p>
<div class="table-responsive">
    <table class="table" id='cmrequirementTable'>
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <ng-template #enhancementTipContent>
                    <div *ngFor="let enhancement of enhancementList">
                        <span style="color:#cc6600;text-align: left">{{enhancement.name}}:</span>
                        {{enhancement.description}}
                    </div>
                </ng-template>
                <th scope="col" class="text-center">
                    <ng-container>
                        <span [ngbTooltip]="enhancementTipContent" container="body">Enhancements</span>
                    </ng-container>
                </th>
                <th scope="col" *ngFor="let stat of status" class="text-center">
                    <span ngbTooltip="{{stat.description}}">{{stat.name}}</span>
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let cat of categories">
                <ng-container *ngIf="categoriesInList.indexOf(cat.id) !== -1">
                    <tr>
                        <td colspan="20" class="text-center">
                            <h6>{{cat.name}}</h6>
                        </td>
                    </tr>
                    <ng-container *ngFor="let customRequirement of customRequirementList">
                        <tr *ngIf="customRequirement.categoryId === cat.id">
                            <td>{{customRequirement.name}}</td>
                            <td>
                                <jhi-click-changer textWhenEmpty="No description given"
                                    (clickChangerSubmit)="customRequirement.description=$event"
                                    [shownText]="customRequirement.description"></jhi-click-changer>
                            </td>
                            <td>
                                <div *ngFor="let enhancement of customRequirement.enhancements"
                                    style="margin-bottom: 5px">
                                    <ng-container *ngFor="let content of enhancement.contents">
                                        <ngb-accordion #acc="ngbAccordion" activeIds="enhancementPanel">
                                            <div *ngFor="let enhancementList of enhancementList">
                                                <ngb-panel id="enhancementPanel"
                                                    *ngIf="enhancementList.id === enhancement.keyId && content.content !== null && content.content !== ''">
                                                    <ng-template ngbPanelHeader>
                                                        <span style="color: #533f03;">{{enhancementList.name}}</span>
                                                    </ng-template>
                                                    <ng-template ngbPanelContent>
                                                        <jhi-click-changer textWhenEmpty=""
                                                            (clickChangerSubmit)="content.content=$event"
                                                            [shownText]="content.content"></jhi-click-changer>
                                                    </ng-template>
                                                </ngb-panel>
                                            </div>
                                        </ngb-accordion>
                                    </ng-container>
                                </div>
                            </td>
                            <td *ngFor="let stat of status">
                                <ng-container *ngFor="let reqStat of customRequirement.status">
                                    <ng-container *ngIf="stat.type === statusType.enum; else freeTextStatus">
                                        <div *ngIf="stat.id === reqStat.keyId">
                                            <div ngbDropdown class="class=" d-inline-block>
                                                <button ngbDropdownToggle class="btn btn-sm btn-outline-secrat"
                                                    id="{{'' + customRequirement.id + stat.id }}">
                                                    {{reqStat.content}}
                                                </button>
                                                <div ngbDropdownMenu
                                                    [attr.aria-labelledby]="'' + customRequirement.id + stat.id">
                                                    <button class="dropdown-item"
                                                        [ngClass]="{'active': reqStat.values.indexOf(value.id) !== -1}"
                                                        *ngFor="let value of stat.values"
                                                        (click)="selectStatus(reqStat, value)">
                                                        {{value.content}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-template #freeTextStatus>
                                        <div *ngIf="stat.id === reqStat.keyId">
                                            <jhi-click-changer textWhenEmpty="No comment given"
                                                (clickChangerSubmit)="reqStat.content=$event"
                                                [shownText]="reqStat.content"></jhi-click-changer>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="editCustomRequirement(customRequirement);open(content,true)">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon> Edit
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="removeCustomRequirement(customRequirement)">
                                        <fa-icon [icon]="'times'"></fa-icon> Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</div>

<!-- ADD CustomRequirement / Edit CustomRequirement -->

<ng-template #content let-c="close" let-d="dismiss">
    <form>
        <div class="modal-header">
            <h4 class="modal-title">Add or edit custom requirement</h4>
            <button type="button" class="close" aria-label="Close" (click)="c();editMode=false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <h6>Name</h6>
                <input type="text" class="form-control" readonly [attr.value]="customRequirementObj.name" />
            </div>
            <div class="form-group">
                <label>
                    <h6>Description</h6>
                </label>
                <textarea id='description' class="form-control" [(ngModel)]='customRequirementObj.description'
                    [ngModelOptions]="{standalone: true}"></textarea>
            </div>
            <div class="form-group">
                <h6>Category</h6>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-sm btn-outline-secrat" ngbDropdownToggle>
                        <span *ngFor="let categorie of categories">
                            <span *ngIf="categorie.id === customRequirementObj.categoryId">
                                {{categorie.name}}
                            </span>
                        </span>
                    </button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item" type="button" *ngFor="let categorie of categories"
                            (click)="customRequirementObj.categoryId=categorie.id">
                            {{categorie.name}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div *ngFor="let enhancement of enhancementList; let i = index">
                    <h6>{{enhancement.name}}</h6>
                    <textarea *ngIf="!editMode" class="form-control"
                        [(ngModel)]="customRequirementObj.enhancements[i].contents[0].content"
                        [ngModelOptions]="{standalone: true}">
                    </textarea>

                    <div *ngIf="editMode">
                        <div *ngFor="let editCmEnhancement of customRequirementObj.enhancements ">
                            <div *ngFor="let content of editCmEnhancement.contents">
                                <div *ngIf="enhancement.id === editCmEnhancement.keyId">
                                    <textarea class="form-control" [(ngModel)]="content.content"
                                        [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let status of status; let i = index">
                <h6>{{status.name}}</h6>
                <span *ngIf="status.type === statusType.enum; else freeTextStatus">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-sm btn-outline-secrat" ngbDropdownToggle>
                            {{customRequirementObj.status[i].content}}
                        </button>
                        <div ngbDropdownMenu>
                            <button class="dropdown-item" type="button" *ngFor="let value of status.values"
                                (click)="selectStatus(customRequirementObj.status[i], value)">
                                {{value.content}}
                            </button>
                        </div>
                    </div>
                </span>
                <ng-template #freeTextStatus>
                    <textarea class="form-control" [(ngModel)]="customRequirementObj.status[i].content"
                        [ngModelOptions]="{standalone: true}"></textarea>
                </ng-template>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="c()" class="btn btn-secondary">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;
                <span>Cancel</span>
            </button>
            <button [disabled]="!importantFieldsAreSet(customRequirementObj)" type="button" class="btn btn-primary"
                (click)="saveCustomRequirement();c()">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;
                <span>Save</span>
            </button>
        </div>
    </form>
</ng-template>