.dashboard ::ng-deep .card-header {
  background-color: #003d66;
  padding: 0.2rem 0.5rem;
  color: #fff;
}

.dashboard ::ng-deep .card-header .btn {
  color: #fff;
}
section {
  margin-bottom: 0.5em;
}
